<div class="container-fluid" style="background-color: #F2F3F7">
<div class="container" style="padding-top: 30px;">

<div class="card header_card">
  <div class="card-body">

    <div class="row">

      <div class="col-md-6">

        <h5>Delivery Address</h5>

        <p class="name">Ankit Choudhary</p>

        <p class="address">Flat No. HF-1, First Floor, Sector-3,<br>
        Rajender Nagar, Ghaziabad, Uttar Pradesh, 2001005</p>

        <span class="name">Phone Number</span><br>
        <span class="address">9999898056, 9911318102</span>

      </div>

      <div class="col-md-6 text-right">
        <img class="header-gif" src="https://media.giphy.com/media/3oEjI4MMUuv9TZwXCM/giphy.gif" alt="gif">
      </div>

    </div>

  </div>
</div>
</div>


<!--  Orders-->
  <div class="container" style="padding-top: 30px">
  <div class="card product_card">
    <div class="card-body">

      <div class="row">

        <div class="col-md-1 text-right">
          <img class="product-image" src="https://rukminim1.flixcart.com/image/416/416/jzsqky80/perfume/a/n/d/100-forest-spice-100ml-eau-de-parfume-for-men-eau-de-parfum-wild-original-imafjqhu7qzqrubg.jpeg?q=70">
        </div>

        <div class="col-md-3">

          <span class="product-name">Wild Stone Forest Spice Eau de Parfum</span>

          <h5 style="padding-top: 30px; font-weight: bold">Rs 375/-</h5>
        </div>

        <div class="col-md-8 text-center">

          <span class="badge badge-success status">Delivered on 29th December, 2020</span>

        </div>

      </div>

    </div>
  </div>



</div>
</div>
