<div class="row">
  <div class="col-md-6">
    <h4>Add User</h4>
    <input #userValue type="text">
    <button (click)="addUser(userValue)" type="button" class="btn btn-success">Add User</button>
    <p *ngIf="Users.length">Total no. of Users added: {{ Users.length }}</p>
  </div>

  <div class="col-md-6">
    <h4>Add Admin</h4>
    <input #adminValue type="text">
    <button (click)="addAdmin(adminValue)" type="button" class="btn btn-success">Add Admin</button>
    <p *ngIf="Admins.length">Total no. of Admins added: {{ Admins.length }}</p>
  </div>
</div>
