<div class="container">

  <div class="row">

    <div class="col-md-3 py-5">
      <div class="card">
        <div class="card-body">

          <div class="text-center">
            <img class="productImage" src="https://rukminim1.flixcart.com/image/312/312/k5o7r0w0/mobile/h/s/v/samsung-galaxy-s10-lite-sm-g770fzksinu-original-imafzaqnbjuffrvv.jpeg?q=70">
          </div>

          <div class="text-center py-2">
            <span style="font-size: 15px; font-weight: 400">Samsung Galaxy S10 Lite<br>
              (Prism Black, 128 GB)</span>
          </div>

          <div class="text-center">
            <span class="badge badge-success">3.5</span>
          </div>

          <div class="price text-center py-2">Rs 70000/-</div>

          <div class="text-center">
            <button type="button" class="btn btn-group-sm btn-danger">Add To Cart</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3 py-5">
      <div class="card border-0">
        <div class="card-body">

          <div class="text-center">
            <img class="productImage" src="https://rukminim1.flixcart.com/image/312/312/k5o7r0w0/mobile/h/s/v/samsung-galaxy-s10-lite-sm-g770fzksinu-original-imafzaqnbjuffrvv.jpeg?q=70">
          </div>

          <div class="text-center py-2">
            <span style="font-size: 15px; font-weight: 400">Samsung Galaxy S10 Lite<br>
              (Prism Black, 128 GB)</span>
          </div>

          <div class="text-center">
            <span class="badge badge-success">3.5</span>
          </div>

          <div class="price text-center py-2">Rs 70000/-</div>

          <div class="text-center">
            <button type="button" class="btn btn-group-sm btn-danger">Add To Cart</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3 py-5">
      <div class="card border-0">
        <div class="card-body">

          <div class="text-center">
            <img class="productImage" src="https://rukminim1.flixcart.com/image/312/312/k5o7r0w0/mobile/h/s/v/samsung-galaxy-s10-lite-sm-g770fzksinu-original-imafzaqnbjuffrvv.jpeg?q=70">
          </div>

          <div class="text-center py-2">
            <span style="font-size: 15px; font-weight: 400">Samsung Galaxy S10 Lite<br>
              (Prism Black, 128 GB)</span>
          </div>

          <div class="text-center">
            <span class="badge badge-success">3.5</span>
          </div>

          <div class="price text-center py-2">Rs 70000/-</div>

          <div class="text-center">
            <button type="button" class="btn btn-group-sm btn-danger">Add To Cart</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3 py-5">
      <div class="card border-0">
        <div class="card-body">

          <div class="text-center">
            <img class="productImage" src="https://rukminim1.flixcart.com/image/312/312/k5o7r0w0/mobile/h/s/v/samsung-galaxy-s10-lite-sm-g770fzksinu-original-imafzaqnbjuffrvv.jpeg?q=70">
          </div>

          <div class="text-center py-2">
            <span style="font-size: 15px; font-weight: 400">Samsung Galaxy S10 Lite<br>
              (Prism Black, 128 GB)</span>
          </div>

          <div class="text-center">
            <span class="badge badge-success">3.5</span>
          </div>

          <div class="price text-center py-2">Rs 70000/-</div>

          <div class="text-center">
            <button type="button" class="btn btn-group-sm btn-danger">Add To Cart</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3 py-5">
      <div class="card border-0">
        <div class="card-body">

          <div class="text-center">
            <img class="productImage" src="https://rukminim1.flixcart.com/image/312/312/k5o7r0w0/mobile/h/s/v/samsung-galaxy-s10-lite-sm-g770fzksinu-original-imafzaqnbjuffrvv.jpeg?q=70">
          </div>

          <div class="text-center py-2">
            <span style="font-size: 15px; font-weight: 400">Samsung Galaxy S10 Lite<br>
              (Prism Black, 128 GB)</span>
          </div>

          <div class="text-center">
            <span class="badge badge-success">3.5</span>
          </div>

          <div class="price text-center py-2">Rs 70000/-</div>

          <div class="text-center">
            <button type="button" class="btn btn-group-sm btn-danger">Add To Cart</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3 py-5">
      <div class="card border-0">
        <div class="card-body">

          <div class="text-center">
            <img class="productImage" src="https://rukminim1.flixcart.com/image/312/312/k5o7r0w0/mobile/h/s/v/samsung-galaxy-s10-lite-sm-g770fzksinu-original-imafzaqnbjuffrvv.jpeg?q=70">
          </div>

          <div class="text-center py-2">
            <span style="font-size: 15px; font-weight: 400">Samsung Galaxy S10 Lite<br>
              (Prism Black, 128 GB)</span>
          </div>

          <div class="text-center">
            <span class="badge badge-success">3.5</span>
          </div>

          <div class="price text-center py-2">Rs 70000/-</div>

          <div class="text-center">
            <button type="button" class="btn btn-group-sm btn-danger">Add To Cart</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3 py-5">
      <div class="card border-0">
        <div class="card-body">

          <div class="text-center">
            <img class="productImage" src="https://rukminim1.flixcart.com/image/312/312/k5o7r0w0/mobile/h/s/v/samsung-galaxy-s10-lite-sm-g770fzksinu-original-imafzaqnbjuffrvv.jpeg?q=70">
          </div>

          <div class="text-center py-2">
            <span style="font-size: 15px; font-weight: 400">Samsung Galaxy S10 Lite<br>
              (Prism Black, 128 GB)</span>
          </div>

          <div class="text-center">
            <span class="badge badge-success">3.5</span>
          </div>

          <div class="price text-center py-2">Rs 70000/-</div>

          <div class="text-center">
            <button type="button" class="btn btn-group-sm btn-danger">Add To Cart</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3 py-5">
      <div class="card border-0">
        <div class="card-body">

          <div class="text-center">
            <img class="productImage" src="https://rukminim1.flixcart.com/image/312/312/k5o7r0w0/mobile/h/s/v/samsung-galaxy-s10-lite-sm-g770fzksinu-original-imafzaqnbjuffrvv.jpeg?q=70">
          </div>

          <div class="text-center py-2">
            <span style="font-size: 15px; font-weight: 400">Samsung Galaxy S10 Lite<br>
              (Prism Black, 128 GB)</span>
          </div>

          <div class="text-center">
            <span class="badge badge-success">3.5</span>
          </div>

          <div class="price text-center py-2">Rs 70000/-</div>

          <div class="text-center">
            <button type="button" class="btn btn-group-sm btn-danger">Add To Cart</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3 py-5">
      <div class="card border-0">
        <div class="card-body">

          <div class="text-center">
            <img class="productImage" src="https://rukminim1.flixcart.com/image/312/312/k5o7r0w0/mobile/h/s/v/samsung-galaxy-s10-lite-sm-g770fzksinu-original-imafzaqnbjuffrvv.jpeg?q=70">
          </div>

          <div class="text-center py-2">
            <span style="font-size: 15px; font-weight: 400">Samsung Galaxy S10 Lite<br>
              (Prism Black, 128 GB)</span>
          </div>

          <div class="text-center">
            <span class="badge badge-success">3.5</span>
          </div>

          <div class="price text-center py-2">Rs 70000/-</div>

          <div class="text-center">
            <button type="button" class="btn btn-group-sm btn-danger">Add To Cart</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3 py-5">
      <div class="card border-0">
        <div class="card-body">

          <div class="text-center">
            <img class="productImage" src="https://rukminim1.flixcart.com/image/312/312/k5o7r0w0/mobile/h/s/v/samsung-galaxy-s10-lite-sm-g770fzksinu-original-imafzaqnbjuffrvv.jpeg?q=70">
          </div>

          <div class="text-center py-2">
            <span style="font-size: 15px; font-weight: 400">Samsung Galaxy S10 Lite<br>
              (Prism Black, 128 GB)</span>
          </div>

          <div class="text-center">
            <span class="badge badge-success">3.5</span>
          </div>

          <div class="price text-center py-2">Rs 70000/-</div>

          <div class="text-center">
            <button type="button" class="btn btn-group-sm btn-danger">Add To Cart</button>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
