<div class="container-fluid">

  <div class="container">

    <div class="card border-0" style="padding-left: 50px;">

    <div class="row">

      <div class="col-md-6 text-left" style="padding-top: 170px">
        <h1 class="product_name">T-Shirt Store</h1>

        <span class="text-muted product_desc">A cotton fabric t-shirt with comfort fit....</span>
        <p class="pro_price">Rs 1700/-</p>

        <button type="button" class="btn btn-danger buyNow">Buy Now</button>
      </div>

      <div class="col-md-6 text-center">

        <img class="image_size" src="https://images.unsplash.com/photo-1543132220-e7fef0b974e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">

      </div>

    </div>
    </div>

  </div>

</div>
